*.appxrecipe
Virtual Case Wall/bld/Debug/ProjectArchitectures.txt
Virtual Case Wall/bld/Debug/Virtual Case Wall.jsproj.FileListAbsolute.txt
Virtual Case Wall/Virtual Case Wall.jsproj.user
Virtual Case Wall/Virtual Case Wall.jsproj.user
Virtual Case Wall.v12.suo
Virtual Case Wall/bin/Debug/AppX/vs.appxrecipe
*.appxrecipe