.itemdetailpage section[role=main] {
    margin-left: 0px;
    margin-right: 0px;
}

#data {
	position: relative;
	width: 50%;
	height: 30.75%;
	float: left;
}

#chart {
	position: absolute;
	width: 50%;
	height: 50%;
	float: right;
	left: 713px;
	top: 448.31px;
}

#map {
	position: relative;
	width: 100%;
	height: 305px;
	top: 325px;
	bottom: 0px;
}

#mapPanel {
	position: absolute;
	width: 100%;
	left: 713px;
	top: 138px;
}

#photo {
	float: left;
	position: relative;
	height: 195px;
	width: 233px;
	left: 30px;
}

#rightText {
	float:right;
	height: 195px;
	width: 407px;
}

#newsFeed {
	position: relative;
	height: 440px;
	width: 646px;
	top: 34px;
	left: 30px;
	overflow: scroll;
}

#rightText h4 {
    padding: 0px;
}