<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:build="http://schemas.microsoft.com/developer/appx/2012/build" IgnorableNamespaces="build">
  <Identity Name="381e36cb-6858-4514-8c60-57c574ddb770" Version="1.0.0.0" Publisher="CN=drzac" />
  <Properties>
    <DisplayName>Virtual Case Wall</DisplayName>
    <PublisherDisplayName>drzac</PublisherDisplayName>
    <Logo>images\UNcover icon_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Virtual Case Wall" Description="Virtual Case Wall" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\UNcover icon_150x150.png" Square30x30Logo="images\UNcover icon_30x30.png">
        <m2:DefaultTile Wide310x150Logo="images\UNcover icon_310x150.png" Square70x70Logo="images\UNcover icon_70x70.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\UNcover Logo_1116x540.png" BackgroundColor="black" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=visualization" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
  <build:Metadata>
    <build:Item Name="Blend" Version="12.0.51020.0" />
  </build:Metadata>
</Package>