.itemdetailpage section[role=main] {
    margin-left: 0px;
    margin-right: 0px;
}

#data {
	position: relative;
	width: 50%;
	height: 50%;
	float: left;
}

#chart {
	position: absolute;
	width: 50%;
	height: 50%;
	float: right;
	top: 128px;
	left: 663px;
	right: 10px;
}

#map {
	position: relative;
	width: 100%;
	height: 305px;
	top: 325px;
	right: 10px;
	bottom: 10px;
}

#mapPanel {
	position: absolute;
	width: 100%;
	left: 663px;
	top: 516px;
	overflow: hidden;
}

#photo {
	float: left;
	position: relative;
	height: 196px;
	width: 227px;
	left: 10px;
}

#rightText {
	float:right;
	height: 196px;
	width: 385px;
}

#newsFeed {
	position: relative;
	height: 417px;
	width: 644px;
	top: 234px;
	left: 10px;
    overflow: scroll;
}

#rightText h4 {
    padding: 0px;
}