.itemdetailpage section[role=main] {
    margin-left: 0px;
    margin-right: 0px;
}

#data {
	position: relative;
	width: 50%;
	height: 50%;
	float: left;
}

#chart {
	position: relative;
	width: 50%;
	height: 50%;
	float: right;
}

#map {
	position: relative;
	width: 100%;
	height: 305px;
	top: 325px;
}